:root {
    background: #cc0037;
    background: linear-gradient(15deg, #990029, #f20041) no-repeat;

    /* variables */
    --main-content-width: 1280px;
    --main-content-height: 720px;

    --main-content-background: #f8dde4;
    --main-content-background: linear-gradient(15deg, #cbcbcb, #fff) no-repeat;
    --main-content-padding: 64px;
    --main-content-border-radius: 16px;
    --main-content-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@font-face {
    font-family: 'Monsterrat';
    src: url(../Fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    font-family: 'Monsterrat';
}

h1 {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 600;
}
h2 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 500;
}
p {
    margin: 0;
    font-size: 0.96rem;
}

#main-content {
    width: calc(var(--main-content-width) - 2 * var(--main-content-padding));
    height: calc(var(--main-content-height) - 2 * var(--main-content-padding));

    background: var(--main-content-background);
    padding: var(--main-content-padding);
    border-radius: var(--main-content-border-radius);
    box-shadow: var(--main-content-box-shadow);

    display: grid;
    grid-template-columns: 1fr 1fr;
}

#right-side {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

#socials img {
    height: 1.6rem;
}

#projects {
    display: flex;
    grid-area: 8px;
    gap: 8px;
    flex-wrap: wrap;
}
#projects a {
    text-decoration: none;
    user-select: none;
    color: #222;

    width: calc(576px / 2 - 8px / 2);
}

a:hover {
    cursor: pointer;
    filter: brightness(1.02);
}

.project {
    width: calc(419.34px - 2* var(--card-box-padding));
    height: calc(232.02px - 2* var(--card-box-padding));
    
    background: var(--main-content-background);
    padding: 16px;
    border-radius: 8px;
    box-shadow: var(--main-content-box-shadow);
}

.project-title {
    font-weight: 500;
    font-size: 1.1rem;
}

ul {
    margin: 0;
}